*{margin:0; padding:0;}
a{text-decoration:none; color:#333;}
ul,li{list-style:none;}
.cf::after{
    content:'';
    display:block;
    clear:both;
 }
 header{
    border: 1px solid #333;
    width: 1300px;
    height: 100px;
    text-align: center;
    padding: 40px 0 30px;
    float: left;
    position: relative;
 }
 .main{
    width: 100%;
    height: 100px;
 }