*{margin: 0;padding: 0;}
#wrap{
    width: 1000px;
    height: 650px;
}
header{
    width: 200px;
    height: 650px;
    float: left;
    background-color: salmon;
}
#main{
    width: 800px;
    height: 650px;
    background-color: yellow;
    float: left;
}
#main #img_slide{
    width: 100%;
    height: 350px;
    background-color: gray;
}
section{
    width: 100%;
    height: 200px;
}
section article{
    width: 33.33%;
    height: 200px;
    float: left;
}
section .notice{
    background-color: aqua;
}
section .banner{
    background-color: purple;

}
section .icons{
    background-color: blue;
}
footer{
    width: 100%;
    height: 100px;
    background-color: violet;
}
footer .f_logo{
    width: 150px;
    height: 100px;
    background-color: aquamarine;
}
footer .f_menu{
    width: 650px;
    height: 50px;
    background-color: chartreuse;
}
footer .f_copy{
    width: 650px;
    height: 50px;
    background-color: chocolate;
}
footer article{
    float: left;
}
